/* Style for the top bar */
body {
    scroll-behavior: smooth;
}
/* .MainMenu {visibility: hidden;} */
footer {visibility: hidden;}
/* header {visibility: hidden;} */

[data-testid="stMainBlockContainer"] {
    padding-top: 0;
}

[data-baseweb="tab-list"] {
    display: flex;
    justify-content: space-between;
}

.st-emotion-cache-89jlt8{
    font-size: 20px;
    font-weight: bold;
}

.title {
    background-color: #696969;
    color: white;
    padding: 10px 20px;
    position: relative;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -1%;
}

/* Content section styling */
.content-section {
    margin-top: 10px; /* Adjust based on the height of the sticky title bar */
    padding: 20px;
    display: flex;
    justify-content: center;
    font-style: italic;
}

.st-emotion-cache-ocqkz7 {
    display: inline-flex;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    flex-grow: -3;
    -webkit-box-align: stretch;
    align-items: stretch;
    gap: 0rem;
}  

/* Styling for the date input */
.stDateInput {
    background-color: #f4f4f9;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 225px;
    height: auto;
}

/* Styling for the base map image */
.stImage img {
    border: 5px solid #ddd;
    border-radius: 10px;
    height: 600px;
    width: 100%;
}

/* Styling for the base map title */
.stMarkdown h3 {
    color: #333;
    font-size: 20px;
}

/* General app padding */
.stApp {
    padding: 0px;
}
